<div id="team_index">
  <h1>Hey! <%= current_user.email %></h1>

  <% if current_user.teams.present? %>
    <h1>It's your teams!</h1>
    <%= turbo_frame_tag "build_current_user_teams", data: {turbo_frame: "build_current_user_teams" } do %>
      <%= link_to '還有新團隊要加入？', new_team_path %>
    <% end %>
    <table>
      <tr>
        <td>團隊名稱</td>
        <td>關於你的團隊</td>
      </tr>
      <%= render partial: "team", collection: @teams %>
    </table>

  <% else %>
    <%= turbo_frame_tag "build_current_user_teams", data: {turbo_frame: "build_current_user_teams" } do %>
      <%= link_to '建立你的團隊', new_team_path %>
    <% end %>
  <% end %>
</div>
