<h1 id="page-title">Login</h1>

<div>
  <p>還沒辦好帳號嗎? <%= link_to "註冊", register_path, id: "register-user" %></p>
</div>

<%= form_with url: '/login', method: :post do |form| %>

  <div>
    <%= form.label :email, '信箱' %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password, '密碼' %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "送出", id: "submit-register-user" %>
  </div>
<% end %>
